body, h1,h2,h3,h4,h5,h6,ul,li,ol,p{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing:inherit;
}

body{
    font-family: 'Oswald', sans-serif;
    color:#fff;
    font-weight: 400;
    line-height: 1.5;
}

.header-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: transparent;
    padding: 21px 40px 0 24px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    transition:all ease 1s;

}


#header{
    position: absolute;
    width:100%;
}

.header-1.fixedbar{
    position: fixed !important;
    background: deepskyblue;
    padding:10px 40px 0 24px;

}

.logo{
    float:left;
    width:100%;
    margin-top:6px;
    text-align:left;
    padding:0 0 25px
}

.logo img {
    max-width: 100%;
    height: auto;
}

.mainmenu{
    position: relative;
}

.mainmenu ul{
    margin: 0;
    padding: 0;
}

.mainmenu ul li{
    list-style:none;
    display: inline-block;
    line-height: 0.8;
    padding: 25px 20px 18px;
    position: relative;
}

.mainmenu ul li a{
    display: block;
    color: #fff;
    font-size: 1rem;
    line-height: 0.8;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0px;
    letter-spacing: 2px;
}

.mainmenu ul li a::after{
    position: absolute;
    content: '';
    background: #fff;
    width: 0;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -0.6rem;
    transition: all ease-out 0.4s;
}

.mainmenu ul li a:hover{
    color: #fff;
}


.mainmenu ul li a:hover::after{
   width: 100%;
}

.navigator{
    position: relative;
    padding: 20px 0 12px;
}

.navigator a{
    display: inline-block;
    margin: 0;
    font-size: 1.5rem;
    line-height: 0.8;
    color: #fff;
}

ol,ul {
    list-style: none;
}

img{
    max-width:100%;
    height: auto;
}

a{
    text-decoration: none;
}

.slideshow-container{
    max-width: 100%;
    position: relative;
    margin: auto;
    background:url(../img/bg-main.jpg) 0 0 no-repeat;
    background-size:cover;
    height: 100vh;
    /* overflow: hidden; */
}

/* .myslides{
    position: relative;
    display: none;
    padding-top: 100px;
} */

.prev, .next{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -1.5rem;
    padding: 1rem;
    color:#fff;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;

}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover{
    background-color: rgba(0,0,0,0.9);
}

.myslides h2{
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: 700;
    position: absolute;
    top:80px;
    left:100px;
    z-index: 10;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.myslides h2 span{
    display: block;
    text-align: right;
    font-size: 22px;
    letter-spacing: 20px;
    text-transform: capitalize;
    padding-right: 20px;
}

.myslides .p_img{
    display: block;
    width: auto;
    height: 500px;
    position: relative;
    z-index: 20;
    animation-duration: 1.2s;
    animation-fill-mode:both;
    animation-name:slideInRight;
}

.myslides{
    padding-top: 190px;
}

.myslides .p_detail{
    width: 350px;
    position: absolute;
    top: 180px;
    right: 100px;
    z-index: 30;
}

.myslides .p_detail h3 {
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    animation-duration: 1.2s;
    animation-fill-mode:both;
    animation-name:fadeInLeft;
}

.myslides .p_detail h3 i{
     font-size: 18px;
     color:#fff;
}

.myslides .p_detail h3 i.rate{
   
    color:#fccb00;
}

.myslides .p_detail h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    animation-duration: 1.2s;
    animation-fill-mode:both;
    animation-name:fadeInLeft;
}

.myslides .p_detail 9{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    animation-duration: 1.2s;
    animation-fill-mode:both;
    animation-name:slideInRight;
}










